@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device" , initial-scale="1.0" />
    <title> Home </title>
    <style>
        img {
            width: 100%;
            height: 100%;
            border: 5px solid black;

        }
        body {
            background-color: #F95738
        }




    </style>
</head>

<body>

    <div id="image">
        <img src = "~/images/TheTitans1.jpg" alt=""/>
    </div>



</body>
</html>