@page

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device", initial-scale="1.0" />
        <title> Latest news </title>

        <style>
        html, body {
            height: 100%;
        }

        .button {
            background-color: black;
            border: 5px;
            color: #DF2935;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: block;
            font-size: 20px;
            margin: auto;
            cursor: pointer;

        }

        .button:hover {
                background-color: #F72C25;
        }

        .p1 {
            text-align: center;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            overflow-y: scroll;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        footer {
            margin-top: auto;
        }

        main {
            flex: 1;
        }
        
        </style>
    </head>

    <body>

        <main>
        <a href="https://www.comicsmode.com/" class = "button">Click Here</a>
        </main>



        <p class = "p1">This is the latest news</p>
    </body>
</html>


