@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device" , initial-scale="1.0" />
    <title> Location </title>

    <style>


        .Location {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        p {
            text-align: center;
        }
        h1 {
            font-weight: bold;
            font-family: "Helvetica Neue", sans-serif;
            text-align: center;
        }

        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        footer {
            margin-top: auto;
        }

    </style>
</head>

<body>
    <main>
    <h1>Location</h1>



    <div class=" para ">
    <p> This is the location of the nearest 5 comic book stores near me. </p>
    </div>
    <div class=" Location ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d11352.514554784995!2d25.562339436364148!3d-33.94776325090942!3m2!1i1024!2i768!4f13.1!2m1!1scomic%20book%20stores%20near%20me!5e0!3m2!1sen!2sza!4v1682662443548!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </main>

</body>
</html>

